@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

.font-color-title {
  font-weight: 600;
  color: #1f3f5b;
}

.font-color-para {
  color: #25252d;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.font-color-footer {
  color: #c8c8cb;
  font-weight: 300;
  font-size: 0.9rem;
}

.mainHeader {
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(135deg, #ff8f70, #ff3d54);
  background-size: 350%, 100%;
  background-position: 35% 35%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: 5rem;
}

.mainHeader .mainHeader__login {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  font-weight: 700;
}

.mainHeader .mainHeader__signup {
  text-decoration: none;
  font-size: 0.9rem;
  color: #ff3d54;
  font-weight: 700;
  background-color: white;
}

.mainHeader .mainHeader__bars {
  color: white;
}

.mainHeader .container--mod {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.mainHeader .mainHeader__title {
  font-family: "Overpass", sans-serif;
  font-size: 2.1rem;
  color: white;
  font-weight: bold;
  max-width: 19rem;
}

.mainHeader .mainHeader__subtitle {
  color: whitesmoke;
  font-weight: 200;
  max-width: 17rem;
  letter-spacing: 0.1px;
}

@media (min-width: 768px) {
  .mainHeader .mainHeader__title {
    font-size: 3rem;
    max-width: 100%;
  }
  .mainHeader .mainHeader__subtitle {
    font-size: 1rem;
    max-width: 100%;
  }
  .mainHeader .mainHeader__brandName {
    font-size: 2.8rem;
  }
}

.mainHeader .btn--text {
  color: #ff3d54;
  font-weight: 700;
  background-color: white;
}

.mainHeader .btn--text:hover {
  color: white;
  background-color: transparent;
}

.mainHeader .btn--white {
  color: white;
  font-weight: 700;
}

.mainHeader .btn--white:hover {
  color: #ff3d54;
  background-color: white;
}

.mainHeader .mainHeader__signup:hover {
  background-color: transparent;
  color: white;
}

@media (min-width: 768px) {
  .mainHeader {
    background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #ff8f70, #ff3d54);
    background-size: 200%, 100%;
    background-position: 20% 53%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 5rem;
  }
}

.container--tab {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container--text {
  font-family: "Overpass", sans-serif;
  font-weight: bolder;
  letter-spacing: -0.7px;
  position: relative;
}

.container--text .tabSection__container__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--text .tabSection__container__split .tabSection__container__split__content {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.container--text .tabSection__container__split .tabSection__extensible-editor {
  padding-top: 2rem;
}

.container--text .tabSection__container__split .tabSection__extensible-editor__title {
  margin-bottom: 2rem;
  text-align: center;
  margin-inline: 3rem;
}

.container--text .tabSection__container__split .tabSection__extensible-editor__para {
  text-align: center;
  margin-inline: 1rem;
}

.container--text .tabSection__container__split .tabSection__robust-content__title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-inline: 3rem;
}

.container--text .tabSection__container__split .tabSection__robust-content__para {
  text-align: center;
  margin-inline: 1rem;
}

@media (min-width: 768px) {
  .container--text .tabSection__container__split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 45%;
  }
  .container--text .tabSection__container__split__img {
    position: absolute;
    top: 0;
    left: 52.5%;
  }
  .container--text .tabSection__container__split .tabSection__extensible-editor__title {
    text-align: left;
    margin-inline: 0;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }
  .container--text .tabSection__container__split .tabSection__extensible-editor__para {
    text-align: left;
  }
  .container--text .tabSection__container__split .tabSection__robust-content__title {
    text-align: left;
    margin-inline: 0;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }
  .container--text .tabSection__container__split .tabSection__robust-content__para {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .container--tab {
    width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 850px) and (max-width: 991px) {
  .container--tab {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobileSection {
  font-family: "Overpass", sans-serif;
  letter-spacing: -0.7px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(#2c2d3f, #3f4164);
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  color: white;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.mobileSection .mobileSection__container__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileSection .mobileSection__container__split__empty {
  border: 1px solid magenta;
  width: 100%;
  height: 20rem;
}

.mobileSection .mobileSection__container__split__img {
  position: absolute;
  bottom: 60%;
  left: 0;
}

.mobileSection .mobileSection__container__split__art-infra {
  margin-top: 6rem;
  text-align: center;
}

.mobileSection .mobileSection__container__split__art-infra__title {
  font-weight: 600;
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

.mobileSection .mobileSection__container__split__art-infra__para {
  color: #c8c8cb;
  letter-spacing: 1px;
  margin-inline: 1rem;
}

@media (min-width: 768px) {
  .mobileSection .phones-desktop-img {
    width: 400px;
    height: 400px;
  }
  .mobileSection .mobileSection {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mobileSection .mobileSection__container__split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .mobileSection .mobileSection__container__split__img {
    position: absolute;
    top: -40%;
    left: 10%;
  }
  .mobileSection .mobileSection__container__split__art-infra {
    margin-top: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: left;
  }
  .mobileSection .mobileSection__container__split__art-infra__title {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-inline: 0;
  }
  .mobileSection .mobileSection__container__split__art-infra__para {
    color: #c8c8cb;
    letter-spacing: 1px;
    margin-inline: 0;
  }
}

.mob-div {
  margin-top: 0;
  border: 1px solid white;
}

.empty {
  width: 300px;
  height: 10rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.empty__img {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 0;
  height: 300px;
}

@media (min-width: 768px) {
  .mobileSection {
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .mobileSection__container__split__art-infra {
    max-width: 45%;
    margin-left: auto;
    margin-right: 4rem;
  }
  .mob-div {
    position: relative;
    margin-top: 11rem;
  }
  .empty {
    position: absolute;
    width: 50%;
    left: 9%;
  }
  .empty__img {
    width: 520px;
    height: 520px;
  }
}

@media (min-width: 768px) and (max-width: 1190px) {
  .mobileSection {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .mobileSection__container__split__art-infra {
    max-width: 45%;
    margin-left: auto;
    margin-right: 0;
  }
  .empty {
    position: absolute;
    width: 50%;
    top: 13%;
    left: 5%;
  }
  .empty__img {
    width: 420px;
    height: 420px;
  }
}

.lapSection {
  padding-top: 2rem;
}

.lapSection .lapSection__container__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.lapSection .lapSection__container__split__content {
  text-align: center;
}

.lapSection .lapSection__container__split__content__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .lapSection {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 16rem;
  }
  .lapSection .lapSection__container__split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 45%;
    margin-left: auto;
  }
  .lapSection .lapSection__container__split__img {
    position: absolute;
    top: 0;
    right: 51.5%;
  }
  .lapSection .lapSection__container__split__content {
    padding-top: 11rem;
    text-align: left;
  }
  .lapSection .lapSection__container__split__content__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.mainFooter {
  background-color: #25252d;
  color: white;
  border-top-right-radius: 6rem;
}

.mainFooter .footer__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .mainFooter .footer__split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=styles.css.map */